/*规定整个站点的公共样式、公共方法和公共参数等
*/

// px转rem
// 1rem = fontSize px
// 1px = （1/fontSize）rem
$fontSize: 30;
$bgc: #f1f1f1;
@function px2rem($px) {
    @return ($px / $fontSize)+rem;
}

// 居中（水平垂直都居中）
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}