.w100p {
  width: 100%;
}

.w100v {
  width: 100vw;
}

.h100p {
  height: 100%;
}

.w50per {
  width: 50%;
}

.w36 {
  width: 36px;
}

.w50 {
  width: 50px;
}

.w100 {
  width: 100px;
}

.w110 {
  width: 110px;
}

.w120 {
  width: 120px;
}

.w240 {
  width: 240px;
}

.w480 {
  width: 480px;
}

.w640 {
  width: 640px;
}

.w720 {
  width: 720px;
}

.w800 {
  width: 800px;
}

.w1200 {
  width: 1200px;
}

.w1220 {
  width: 1220px;
}

.h100v {
  height: 100vh;
}

.h100p {
  height: 100%;
}

.h36 {
  height: 36px;
}

.h40 {
  height: 40px;
}

.h48 {
  height: 48px;
}

.h60 {
  height: 60px;
}

.lh40 {
  line-height: 40px;
}

.h36 {
  height: 36px;
}

.h50 {
  height: 50px;
}

.h300 {
  height: 300px;
}

.h340 {
  height: 340px;
}

.h400 {
  height: 400px;
}

.lh40 {
  line-height: 40px;
}

.lh50 {
  line-height: 50px;
}

.lh15em {
  line-height: 1.5em;
}

.lh2em {
  line-height: 2em;
}
